extends layout

block content 
    script(type='module', src='./js/base-webcomponent/base-webcomponent.class.js')
    .container.mt-3
        .card.mb-3
            .card-body 
                h2 Base WebComponent
        include navbar.pug
        .card.mb-3 
            .card-body 
                base-webcomponent#base-webcomponents
    script.
        const bwc = document.getElementById("base-webcomponents");   

        let options = {
            color: "#06f706",
            background: "#7d7a7a",
            padding: "25px"
        }  

        bwc.setAttribute('settings', JSON.stringify(options));   

        window.addEventListener('load', ()=>{            
            // bwc.setOptions('test');
        });
        