html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Dynamic Data Table
        link(rel='stylesheet' href='./css/styles.css')
        script(type='module', src='./js/dynamic-data-table.js')
    body
        .container 
            h1 Dynamic Data Table
            .grid-container 
                .item
                    h3 DDT - Example
                    dynamic-data-table(data-source="/items/list")
                    dynamic-data-table(data-source="/posts/list")
                    dynamic-data-table(data-source="/invoices/list")
                    dynamic-data-table
                .item 
                    .note.info
                            h6 Dynamic Data Table usage.