extends layout 

block content
        .container.mt-3
            .card.mb-3
                .card-body(style="text-align: center;")
                    h1=title
            include navbar.pug
                            