html 
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title=title
        link(rel='stylesheet' href='./css/styles.css')
    body
        .container
            h1=title 
            .row 
                .col-6 
                    ul 
                        li
                            a(href="dynamic-data-table") Dynamic Data Table
                        li
                            a(href="rich-text-editor") Rich Text Editor