html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title=title
        script(type='module', src='./javascript/search-action-box.js')
    body
        h1=message
            div(style='width: 90%; padding: 15px;')
                search-action-box