extends layout 

block content
        .container.mt-3
            .card.mb-3
                .card-body
                    h1=title
            .card.mb-3
                .card-body
                    nav 
                        ul.nav.justify-content-center 
                            li.nav-item
                                a.nav-link(href="dynamic-data-table") Dynamic Data Table
                            li.nav-item
                                a.nav-link(href="dynamic-task-table") Dynamic Tasks Table
                            li.nav-item
                                a.nav-link(href="rich-text-editor") Rich Text Editor
                            li.nav-item
                                a.nav-link(href="action-button") Action Button 
                            li.nav-item
                                a.nav-link(href="search-action-box") Search Action Box 
                            li.nav-item
                                a.nav-link(href="timeline-task-box") Timeline Task Box
                            