extends layout 

block content
    script(type='module', src='./js/rich-text-editor/rich-text-editor.class.js')
    .container 
        h1=title
        a(href="/") Home
        .row 
            .col-5 
                rich-text-editor