extends layout 

block content
    script(type='module', src='./js/rich-text-editor/rich-text-editor.class.js')
    .container.mt-3
        .card.mb-3
            .card-body 
                h2 Base WebComponent
        include navbar.pug
        .card.mb-3 
            .card-body
                rich-text-editor