extends layout 

block content
    script(type='module', src='./js/base-webcomponent/base-webcomponent.class.js')
    script(type='module', src='./js/dynamic-data-table/previus-versions/dynamic-data-table.0.1.class.js')
    .container.mt-3
        .card.mb-3 
            .card-body
                h1=title
        include navbar.pug
        .card.mb-3 
            .card-body 
                //- Component
                //- base-webcomponent#base-webcomponents
                dynamic-data-table(data-source='/tasks/list', settings='{"settings": true}')
