@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.component-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.component {
  flex: 1 1 auto;
  margin: 10px;
  padding: 5px;
  border: 1px solid #d2cdcd;
  border-radius: 0.25rem;
}