#ttb-container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #eee;
    border-radius: 0.25rem;
}

#ttb-table {
    width: 100%;
    border-collapse: collapse;
}

#ttb-table td {
    padding: 0 !important;
    width: 14.28%;
    height: 71px;
    border: 1px solid #ccc;
    text-align: center;
    color: #aaa;
}

.draggable {
    position: absolute;
    width: fit-content;
    padding: 5px;
    background-color: rgb(0, 153, 255);
    border-radius: 0.25rem;
    color: #fff;
    z-index: 999;
    top: 0;
    cursor: pointer;
}