extend ../layout
block content 
    .container.mt-3 
        .card.mb-3 
            .card-header 
                h5=title
            .card-body 
                base-web-component#bwc
    script(type='module', src='/js/base-webcomponent/BaseWebComponent.class.js')
    script.
        window.addEventListener('load', () => {
            const bwc = document.getElementById('bwc');

            bwc.$publicField = 12;
            bwc.$publicMethod(bwc.$publicField);
        });
        