extend ../layout
block content 
    .container.mt-3 
        .card.mb-3 
            .card-header 
                h5=title
            .card-body 
                //- dynamic-data-table#ddt(data-source='/invoices/list')
                dynamic-data-table#ddt
    script(type='module', src='/js/dynamic-data-table/dynamic-data-table.class.js')
    script.
        const ddt = document.getElementById('ddt');
        let ddtOptions = {                    
                showSorting: true,
                sortByColumn: 2,
                showCaption: true,
                showPagination: true,
                showSearching: true
            }
        ddt.setAttribute('data-source', '/invoices/list');
        ddt.setAttribute('settings', JSON.stringify(ddtOptions));